@import "../../../globalStyles/scss/variables.scss";

.vacancies-page {
  display: flex;
  
  &__sidebar {
    flex: none;
    width: 18rem;
  }

  &__content {
    flex: 1;
    max-width: 48rem;
    margin: 1.5rem auto;
  }
}
